main{
    font-family: "Noto Sans JP", sans-serif;
    font-size: 18px;
}
img{
    max-width:100%;
}
h2{
    font-size: 2em;
    margin-bottom: 2em;
    text-align: center;
}
.checkbox{
    display: flex;
    justify-content: space-around;
}
.footer-content{
    display: flex;
    justify-content: center;
}
.footer-content a{
    color:white;
    margin:0 10px 15px;
}